@use "../../../styles/variables" as v;

.typography {
  &__heading1 {
    font-size: v.get-font-size(xtl);
    line-height: v.get-line-height(xxl);
    font-weight: v.get-font-weight(semi-bold);
    letter-spacing: v.get-letter-spacing(xs);
    color: v.get-color(basic, text);
  }

  &__heading2 {
    font-size: v.get-font-size(xxl);
    line-height: v.get-line-height(xl);
    font-weight: v.get-font-weight(bold);
    letter-spacing: v.get-letter-spacing(sm);
    color: v.get-color(basic, text);
  }

  &__heading3 {
    font-size: v.get-font-size(xl);
    line-height: v.get-line-height(lg);
    font-weight: v.get-font-weight(bold);
    color: v.get-color(basic, text);
  }

  &__heading4 {
    font-size: v.get-font-size(lg);
    line-height: v.get-line-height(md);
    font-weight: v.get-font-weight(bold);
    letter-spacing: v.get-letter-spacing(lg);
    color: v.get-color(basic, text);
  }

  &__heading5 {
    font-size: v.get-font-size(md);
    line-height: v.get-line-height(sm);
    font-weight: v.get-font-weight(semi-bold);
    color: v.get-color(basic, text);
  }

  &__heading6 {
    font-size: v.get-font-size(sm);
    line-height: v.get-line-height(xs);
    font-weight: v.get-font-weight(medium);
    letter-spacing: v.get-letter-spacing(md);
    color: v.get-color(basic, text);
  }

  &__subtitle1 {
    font-size: v.get-font-size(xs);
    line-height: v.get-line-height(xs);
    font-weight: v.get-font-weight(medium);
    letter-spacing: v.get-letter-spacing(lg);
  }

  &__subtitle2 {
    font-size: v.get-font-size(xxs);
    line-height: v.get-line-height(xxs);
    font-weight: v.get-font-weight(medium);
    letter-spacing: v.get-letter-spacing(md);
  }

  &__body1 {
    font-size: v.get-font-size(xs);
    line-height: v.get-line-height(xs);
    font-weight: v.get-font-weight(regular);
    letter-spacing: v.get-letter-spacing(lg);
  }

  &__body2 {
    font-size: v.get-font-size(xxs);
    line-height: v.get-line-height(xxs);
    font-weight: v.get-font-weight(regular);
    letter-spacing: v.get-letter-spacing(md);
  }

  &__caption {
    font-size: v.get-font-size(xts);
    line-height: v.get-line-height(xxs);
    font-weight: v.get-font-weight(regular);
    letter-spacing: v.get-letter-spacing(xl);
  }

  &__overline {
    font-size: v.get-font-size(xts);
    line-height: v.get-line-height(xxs);
    font-weight: v.get-font-weight(regular);
    letter-spacing: v.get-letter-spacing(xxl);
    text-transform: uppercase;
  }

  &__button-small {
    font-size: v.get-font-size(xts);
    line-height: v.get-line-height(xs);
    font-weight: v.get-font-weight(semi-bold);
  }

  &__button-medium {
    font-size: v.get-font-size(xxs);
    line-height: v.get-line-height(xs);
    font-weight: v.get-font-weight(semi-bold);
  }

  &__button-large {
    font-size: v.get-font-size(xs);
    line-height: v.get-line-height(xs);
    font-weight: v.get-font-weight(semi-bold);
  }
}
