@keyframes spinner-rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }

  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }

  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}

.spinner {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  background-image: linear-gradient(
      get-color(primary, dark) 16px,
      transparent 0
    ),
    linear-gradient(get-color(primary, main) 16px, transparent 0),
    linear-gradient(get-color(primary, main) 16px, transparent 0),
    linear-gradient(get-color(primary, dark) 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position:
    left top,
    left bottom,
    right top,
    right bottom;
  animation: spinner-rotate 1s linear infinite;
}
