/* ============================================
=                  Exports                    =
============================================ */

$property: (
  gap: gap,
);

$property-with-direction: (
  m: margin,
  p: padding,
);

@each $colorKey, $colorValue in $color {
  @each $colorSubkey, $colorSubvalue in $colorValue {
    #body .color-#{$colorKey}-#{$colorSubkey} {
      color: $colorSubvalue;
    }
  }
}

@each $propertyKey, $propertyValue in $property {
  @each $spacingKey, $spacingValue in $spacing {
    #body .#{$propertyKey}-#{$spacingKey} {
      #{$propertyValue}: $spacingValue;
    }
  }
}

@each $propertyKey, $propertyValue in $property-with-direction {
  @each $spacingKey, $spacingValue in $spacing {
    @each $directionKey, $directionValues in $direction {
      #body .#{$propertyKey}#{$directionKey}-#{$spacingKey} {
        @if $directionValues == all {
          #{$propertyValue}: $spacingValue;
        } @else {
          @each $directionValue in $directionValues {
            #{$propertyValue}-#{$directionValue}: $spacingValue;
          }
        }
      }
    }
  }
}
