/* ============================================
=                 Globals                     =
============================================ */

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  animation: var(--mui-customProperties-time-slow) fade-in forwards;
}

.flex {
  display: flex;

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-1 {
    flex: 1;
  }

  &-grow {
    flex-grow: 1;
  }
}

.align-center {
  align-items: center;
}

.justify {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }
}

.text-center {
  text-align: center;
}

.position {
  &-absolute {
    position: absolute;
  }

  &-fixed {
    position: fixed;
  }

  &-relative {
    position: relative;
  }

  &-sticky {
    position: sticky;
  }
}
