/* ============================================
=                Variables                    =
============================================ */

// Allow utility classes to use the same spacing properties defined in the MUI theme
$spacing: (
  a: var(--mui-custom-properties-spacing-a),
  xxs: var(--mui-custom-properties-spacing-xxs),
  xs: var(--mui-custom-properties-spacing-xs),
  sm: var(--mui-custom-properties-spacing-sm),
  md: var(--mui-custom-properties-spacing-md),
  lg: var(--mui-custom-properties-spacing-lg),
  xl: var(--mui-custom-properties-spacing-xl),
  xxl: var(--mui-custom-properties-spacing-xxl),
);

$direction: (
  "": all,
  l: left,
  r: right,
  t: top,
  b: bottom,
  x: left right,
  y: top bottom,
);
