.cookie-banner {
  width: 100%;
  position: fixed;
}

.container {
  position: relative;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
