.enter {
  opacity: 0;
}

.enter-active {
  opacity: 1;
  /* 
    The time here is found in the theme.customProperties.time property.
    Ideally we should be getting this value dynamically, from the theme.
   */
  transition: opacity 0.35s ease-in;
}

.exit {
  opacity: 1;
}

.exit-active {
  opacity: 0;
  transition: opacity 0.35s ease-out;
}
