@use "../../../styles/variables" as v;

.error-helper-text {
  &__container {
    color: v.get-color(basic, error);
    margin-top: v.get-spacing(xxs);
    margin-left: v.get-spacing(md);
  }

  &__enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity v.get-time(normal) ease-in;
    }
  }

  &__exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity v.get-time(normal) ease-out;
    }
  }
}
