.loading {
  display: flex;

  &__enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity get-time(slow) ease-in;
    }
  }

  &__exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity get-time(slow) ease-out;
    }
  }

  &__fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: get-color(basic, brightest);
    z-index: get-z(1000);
  }

  &__spinner {
    margin: auto;
  }
}
