.loading {
  display: flex;
  width: 100%;
  height: 100%;
  background: get-color(basic, brightest);
  z-index: get-z(1000);
  position: fixed;

  &__enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity get-time(slow) ease-in;
    }
  }

  &__exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity get-time(slow) ease-out;
    }
  }

  &__spinner {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
}
