.layout {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: get-spacing(md);
    align-items: center;
    background-color: get-color(basic, background);

    @media (min-width: get-media(md)) {
      padding: get-spacing(lg);
    }

    @media (min-width: get-media(lg)) {
      padding: get-spacing(lg) 4rem;
    }

    @media (min-width: get-media(xl)) {
      padding: get-spacing(lg) 6rem;
    }

    &-content {
      max-width: 82.5rem;
      width: 100%;
    }
  }

  &__auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: get-color(basic, background);

    @media (min-width: get-media(xs)) {
      flex: 1 1 auto;
    }

    &-content {
      width: 100%;
      padding: get-spacing(md);
      background-color: get-color(basic, brightest);

      @media (min-width: get-media(xs)) {
        max-width: 442px;
        border-radius: get-border-radius(md);
        padding: get-spacing(xl);
      }
    }
  }
}
