/* ============================================
=                  Normalize                  =
============================================ */

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body {
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  appearance: none;
  cursor: pointer;
}

::-ms-reveal {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}
